* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  margin: 10px 0;
}
.logo {
  width: 250px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.main-nav {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: #040e27;
  padding: 10px 0;
  color: #fff;
}
.main-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-nav li {
  margin: 5px 15px;
  font-size: 17px;
}
.main-nav a {
  color: #fff;
}
.main-nav a:hover {
  color: #0181f5;
}
.showcase {
  height: 600px;
  font-family: "Alata", sans-serif;
  position: relative;
  background: url("../images/showcase-bg.png") no-repeat center bottom;
  z-index: 2;
}
.showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  z-index: 2;
}
.showcase h2 {
  font-size: 30px;
  color: #0181f5;
  margin-bottom: 22px;
  font-family: Alata, sans-serif;
  font-size: 20px;
}
.showcase h1 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.7;
  font-weight: 400;
}
.showcase h4 {
  color: #ccc;
  margin: 30px 0 20px 0;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 14, 39, 0.8);
  z-index: -2;
}
.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  background-color: #040e27;
}
.projects img {
  width: 100%;
  height: 100%;
}
.projects h4 {
  font-size: 20px;
}
.projects > div {
  position: relative;
  cursor: pointer;
  height: 100%;
}
.projects div:hover .content {
  opacity: 0.9;
}
.projects .content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0181f5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.projects .content p {
  margin: 15px 5px;
}
.main-footer .container {
  min-height: 5px;
  padding: 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-footer .social p {
  margin-right: 20px;
}
.main-footer .social a {
  margin-right: 10px;
}
.main-footer .social a img {
  width: 32px;
  height: 32px;
}
.main-footer ul li {
  line-height: 2;
}
.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
.about-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: #ccc solid 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.about-a .repo {
  color: #333;
  border: 2px solid #040e27;
  height: 100px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about-a .repo i {
  margin-right: 20px;
}
.about-b .courses {
  margin: 30px 0 30px 0;
}
.about-b .courses a {
  margin: 10px;
}
.about-c {
  margin: 30px 0 50px 0;
  border-bottom: #ccc solid 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.about-c h2 {
  margin-bottom: 20px;
}
.about-c div {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
}
.about-d {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.about-d img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.bg-primary {
  background-color: #040e27;
  color: #fff;
}
.bg-primary a {
  color: #fff;
}
.bg-primary a:hover {
  color: #0181f5;
}
.bg-secondary {
  background-color: #0181f5;
  color: #fff;
}
.bg-secondary a {
  color: #fff;
}
.bg-secondary a:hover {
  color: #040e27;
}
.btn {
  display: inline-block;
  font-family: Alata, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  color: #0181f5;
  background: #0181f5;
  padding: 12px 30px;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.btn-secondary {
  color: #fff;
  background: #0181f5;
}
.btn-primary {
  color: #fff;
  background: #040e27;
}
.btn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}
.btn-img img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.btn:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  opacity: 0.9;
  color: #f4f4f4 !important;
}
.text-primary {
  color: #040e27;
}
.text-secondary {
  color: #0181f5;
}
.text-success {
  color: orange;
}
@media (max-width: 960px) {
  .showcase h1 {
    font-size: 30px;
  }
  .projects {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .showcase h1 {
    font-size: 20px;
  }
  .logo {
    width: 50px;
  }
  .projects {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main-footer ul {
    display: none;
  }
  .about-a {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about-a .repo {
    height: 100px;
  }
}
